{% extends 'campus/base.html' %} <!-- Xuanming Feng -->

{% block content %}
    <h2>Top Universities</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Average Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for top_university, rating in top_universities %}
            <tr>
                <td><a href="{% url 'universities:university_detail' top_university.slug %}">{{ top_university.name }}</a></td>
                <td>{{ top_university.location }}</td>
                <td>{{ rating|floatformat:1 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No universities found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
